:root {
  --fs-xl: 4rem;
  --fs-l: 3rem;
  --fs-m: 1.3rem;
  --fs-s: 1rem;
}

@media (max-width: 800px) {
  .about {
    grid-column: 1/-1;
  }
}

@media (max-width: 550px) {
  :root {
    --fs-xl: 3rem;
    --fs-l: 2rem;
    --fs-m: 0.9rem;
    --fs-s: 0.7rem;
  }
  .title::before {
    top: -10px !important;
    left: -30px !important;
    display: none !important;
  }
  .about {
    padding-inline: 1rem;
  }
  .title span,
  .description {
    margin-left: 5px;
  }
}

.about {
  display: grid;
  justify-content: center;
  margin-block: 5rem;
}

.title span {
  display: block;
  font-size: var(--fs-l);
  color: var(--text-primary);
  font-weight: bold;
}

.title {
  font-size: var(--fs-xl);
  color: var(--clr-purple-dark);
  font-weight: bold;
  line-height: 1;
  position: relative;
  margin-bottom: 1.5rem;
}
.title::before {
  content: "";
  display: block;
  width: 80px;
  height: 60px;
  background: url("../../img/detail.svg") no-repeat;
  position: absolute;
  z-index: -1;
  left: -27px;
  top: -5px;
}

.description {
  font-family: var(--ff-secondary);
  font-weight: bold;
  font-size: var(--fs-m);
  line-height: 1.5;
  color: var(--text-primary);
  padding-bottom: 0.2rem;
  max-width: 37ch;
}
.description .detail {
  color: var(--clr-typewriter);
  font-size: var(--fs-m);
}
.description span:last-child {
  display: block;
  font-size: var(--fs-s);
  color: var(--text-secondary);
  font-weight: 400;
  margin-top: 0.5rem;
}

@keyframes aa {
  to {
    opacity: 0;
    max-height: 0px;
  }
  from {
    opacity: 1;
    max-height: 100px;
  }
}
