.formation {
  position: relative;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-content: space-between;
  align-items: flex-start;
}

.course {
  position: relative;
  justify-self: center;
  left: 1rem;
}

.content {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.content img {
  margin-right: 10px;
}

.degree:first-child,
.course:first-child {
  position: relative;
  top: -5px;
}

.degree:last-child,
.course:last-child {
  position: relative;
  top: 5px;
}

.degree h3,
.course h3 {
  font-size: 1.25rem;
  color: var(--clr-section-subtitle);
}

.degree-c span,
.course span {
  display: block;
}

.degree-c span:last-child,
.course span:last-child {
  margin-bottom: 5px;
}
.college {
  font-family: var(--ff-secondary);
  font-size: 1.3rem;
  color: var(--clr-text-college);
}

.period {
  font-size: 0.75rem;
  color: var(--clr-text-period);
  font-family: var(--ff-primary);
}
@media (max-width: 1400px) {
  .information {
    max-width: 90%;
  }
}

@media (max-width: 1300px) {
  .formation {
    margin: 5rem auto;
  }
  .course {
    position: relative;
    justify-self: flex-start;
    text-align: left;
    left: -1px;
    margin-top: 25px;
  }
}

@media (max-width: 1000px) {
  .formation {
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .education {
    position: relative;
    left: -5.15rem;
  }
  .course {
    position: relative;
    left: -5.15rem;
  }
}

@media (max-width: 400px) {
  .formation {
    position: relative;
  }
  .education,
  .course {
    position: absolute;
    left: -60px !important;
  }
  .college,
  #typed-content span:last-child {
    font-size: 0.84rem !important;
  }
  .degree h3,
  .course-list h3 {
    font-size: 0.9rem !important;
  }

  .period {
    font-size: 0.5rem !important;
  }
  .degree:last-child,
  .course-list:last-child {
    position: relative;
    top: 30px !important;
  }
}
