/* Section Informatio */
.information {
  margin: 0 auto;
  display: grid;
  grid-column: 1fr;
  grid-row: auto auto;
}

.projects {
  position: relative;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  flex-direction: column;
  justify-content: space-between;
}

.project:nth-child(2) {
  position: relative;
  left: 1.1rem;
}

.project:last-child {
  justify-self: flex-end;
}

.projects-c {
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
}

.list-title {
  margin-top: 0.5rem;
  font-size: 1.625rem;
  margin-bottom: 1.25rem;
  /* transition: all 0.3 ease-in; */
}

.list-title {
  color: var(--clr-section-subtitle);
}

.list-title:hover {
  color: var(--clr-purple-light);
}

.list-description {
  font-size: 1.125rem;
  color: var(--text-primary);
  max-width: 37ch;
  margin-bottom: 1.25rem;
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px 15px;
}

.tech-list li {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  color: var(--text-secondary);
  font-weight: 700;
  background: var(--clr-tech-item);
  border-radius: 10px;
  text-align: center;
}

.tech-list li:last-child {
  grid-column: 1 / -1;
  justify-self: flex-start;
  align-items: flex-start;
}
@media (max-width: 1300px) {
  .projects {
    margin: 5rem auto;
    gap: 30px;
  }
  .project:last-child {
    justify-self: flex-start;
    position: relative;
    left: 15px;
  }
}

@media (max-width: 1000px) {
  .information {
    position: relative;
    grid-template-columns: 500px;
    justify-content: center;
  }
  .projects {
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .project:last-child {
    position: relative;
    left: 1.2rem;
  }
}
@media (max-width: 400px) {
  .list-title {
    font-size: 1rem !important;
  }
  .list-description {
    font-size: 0.825rem !important;
    margin-bottom: 15px !important;
  }
  .tech-list li {
    font-size: 0.5rem !important;
    padding: 0.5rem 0.8rem !important;
  }

  .projects {
    gap: 2rem !important;
  }
}
