.menu-nav {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.internal-menu {
  display: flex;
  gap: 1rem;
}
.internal-menu a {
  text-transform: uppercase;
  color: var(--text-primary);
  padding: 15px 30px;
  letter-spacing: 0.01rem;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-list li {
  max-width: 48px;
}
.social-list i {
  font-size: 2.2rem;
}
