.header {
  margin-bottom: 3rem;
}
.menu-nav {
  margin-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  z-index: 100;
}
.internal-menu {
  display: flex;
  gap: 1rem;
}
.internal-menu a {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--text-primary);
  padding: 1rem 2rem;
  letter-spacing: 100 0.01rem;
}
.internal-menu a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--clr-purple-light);
  transition: all 0.4s ease-in-out;
}
.internal-menu a:hover::after {
  width: 100%;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-list li {
  max-width: 48px;
}

@media (max-width: 500px) {
  .header {
    grid-column: 1/-1;
  }
}
