.contact {
  margin: 5rem 0;
}

.contact-content > p {
  margin-top: 1rem;
  font-size: 1.5rem;
  margin-left: 1.4rem;
  margin-bottom: 1rem;
  color: var(--text-primary);
}
.contact-content span {
  color: var(--title-detail);
  font-size: 2rem;
  margin-left: 2px;
}
.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 700px;
  margin-left: 1.4rem;
  gap: 40px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--clr-form-input-border);
  font-size: 1rem;
  line-height: 32px;
  background-color: var(--clr-bg);
  padding-left: 10px;
  background: var(--clr-form-input);
  color: var(--text-primary);
}
.input-group input:focus,
.input-group textarea:focus {
  box-shadow: 0 0 0 2px var(--clr-purple-light);
  border-color: var(--clr-purple-dark);
  outline: none;
  background-color: var(--clr-bg-input-focus);
}

.input-group label {
  display: block;
  font: 600 1rem/1.5 var(--ff-primary);
  color: var(--text-primary);
  margin-bottom: 4px;
}

.contact-form button {
  width: max-content;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  background: var(--title-detail);
  padding: 10px 20px;
  border-radius: 44px;
  justify-self: end;
  color: var(--text-primary);
}
@media (max-width: 800px) {
  .contact-form {
    grid-template-columns: 1fr;
  }
  .input-group {
    grid-column: 1;
  }
  .contact {
    margin: 3rem 0;
  }
}

@media (max-width: 600px) {
  .contact {
    grid-column: 1/-1;
  }
  .sent-message {
    font-size: 1rem;
  }
}

.sent-message {
  padding-block: 1rem;
  grid-column: 1/-1;
  justify-self: center;
  font-size: 1rem;
  margin: 0;
  color: var(--text-primary);
}
.sent-message span {
  color: var(--clr-typewriter);
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.erro-message {
  padding-block: 1rem;
  grid-column: 1/-1;
  justify-self: center;
  margin: 0 0 0.5rem 0;
  color: var(--text-primary);
}
.erro-message span {
  color: var(--clr-typewriter);
  grid-column: 1/-1;
  font-size: 1rem;
}
