:root {
  --fs-project-listH2: 1.625rem;
  --fs-project-listP: 1.125rem;
  --fs-tech-list: 0.875rem;
}

@media (max-width: 500px) {
  :root {
    --fs-project-listH2: 1.3rem;
    --fs-project-listP: 1rem;
    --fs-tech-list: 0.7rem;
  }
  .projects {
    grid-column: 1/-1;
  }
}

.projects {
  margin: 7rem 0;
}
.projects-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr minmax(100px, 1fr) 1fr;
  padding-left: 20px;
  color: var(--clr-section-subtitle);
}

.projects-list li a:hover h2 {
  color: var(--clr-typewriter);
}
.projects-list li:last-child {
  grid-column: 3;
}
.projects-list h2 {
  font-size: var(--fs-project-listH2);
  margin-bottom: 10px;
}
.list-description {
  font-size: var(--fs-project-listP);
  color: var(--text-primary);
  max-width: 50ch;
  margin-bottom: 1.25rem;
  max-height: 150px;
}
.tech-list {
  /* max-width: min-content; */
  width: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 1rem;
  justify-items: center;
}

.tech-list li {
  align-self: center;
  font-size: var(--fs-tech-list);
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  color: var(--text-secondary);
  font-weight: 700;
  background: var(--clr-tech-item);
  border-radius: 10px;
  text-align: center;
}

.tech-list li:last-of-type {
  grid-column: 1/-1 !important;
  justify-self: flex-start;
}

@media (max-width: 800px) {
  .projects-list {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .projects-list li:last-child {
    grid-column: 1;
  }
  .projects {
    margin: 3rem 0;
  }
}
