:root {
  --ff-primary: "Fira Sans", Arial, sans-serif;
  --ff-secondary: "Fira Code", monospace;
  --clr-nav-item: #2e2e2e;
  --clr-purple-dark: #260e5b;
  --clr-purple-light: #613fb1;
  --clr-typewriter: #613fb1;
  --clr-bg: #f5f5f5;
  --title-detail: #b87ce6;
  --footer-bar-bg: #2d0f71;
  --text-primary: #000;
  --text-secondary: #111010;
  --clr-section-title: #1b1b1b;
  --clr-section-subtitle: #2e2e2e;
  --clr-tech-item: #cbcbcb;
  --clr-text-college: #525050;
  --clr-text-period: #838383;
  --clr-text-located: #000000;
  --filter-effect: invert(31%) sepia(14%) saturate(3557%) hue-rotate(223deg)
    brightness(97%) contrast(104%);
  --title-detail-img: "img/detail.svg";
  --clr-nav-item-bg-mobile: #f1f1f1;
}

.dark-mode {
  --clr-nav-item: #fff;
  --clr-purple-dark: #7758bf;
  --clr-purple-light: #9f23fe;
  --clr-typewriter: #8e6ddd;
  --clr-bg: #1f1f1f;
  --title-detail: #9f23fe;
  --footer-bar-bg: #9067ed;
  --text-primary: #fff;
  --text-secondary: #111010;
  --clr-section-title: #fff;
  --clr-tech-item: #9c76f5;
  --clr-text-college: #c3c3c3;
  --clr-text-period: #9c9c9c;
  --clr-text-located: #dbdbdb;
  --clr-section-subtitle: #e1e1e1;
  --filter-effect: invert(34%) sepia(90%) saturate(1036%) hue-rotate(232deg)
    brightness(86%) contrast(95%);
  --clr-nav-item-bg-mobile: #878787;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-bg);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
}

/* Header */

.header {
  display: flex;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 2rem auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.logo:hover {
  filter: var(--filter-effect);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.header-menu a {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: var(--clr-nav-item);
  font-family: var(--ff-primary);
  padding: 1rem 2rem;
  margin-bottom: 2px;
}

.header-menu a:hover::after {
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background: var(--clr-typewriter);
  margin-bottom: -2px;
}

@media (max-width: 665px) {
  .header {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .header-menu a {
    background: var(--clr-nav-item-bg-mobile);
    border-radius: 5px;
  }
  .logo {
    margin: 0;
    margin-left: 0 !important;
  }
}

/* About */

.about {
  position: relative;
  display: flex;
  margin: 10rem auto;
  justify-content: center;
  max-width: 500px;
}

.about-c {
  display: flex;
  flex-direction: column;
  max-width: 455px;
  position: relative;
}

.detail {
  position: absolute;
  left: -5px;
  top: 4px;
}

.subtitle {
  position: relative;
  top: 10px;
  display: block;
  font-size: 3rem;
  color: var(--text-primary);
  font-weight: bold;
}

.title {
  position: relative;
  font-size: 4rem;
  color: var(--clr-purple-dark);
  font-weight: bold;
}

#detail {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -17px;
  left: -38px;
}

/* .title::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background-image: url("img/detail.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -17px;
  left: -38px;
} */

.description {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  font-family: var(--ff-secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.5;
  color: var(--text-primary);
}

#typed-content span:nth-child(even) {
  font-weight: 700;
  color: var(--clr-purple-light);
}

#typed-content span:last-child {
  display: block;
  font-family: var(--ff-primary);
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--clr-text-located);
}

.description strong {
  color: var(--clr-purple-light);
}

@media (max-width: 550px) {
  .about,
  .about-c {
    max-width: 80%;
  }
}
@media (max-width: 400px) {
  .about {
    margin: 2rem auto;
    margin-top: 5rem;
  }
  .title {
    position: relative;
    font-size: 2.5rem;
  }
  #detail {
    display: none;
  }
  .title::before {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 10px;
    background: var(--title-detail);
    border-radius: 5px;
    top: 0px;
    left: 0;
  }
  .subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .description {
    font-size: 0.825rem;
  }
  .section-title {
    font-size: 1.3rem !important;
  }
  .section-title::before {
    width: 7px !important;
    height: 17px !important;
  }
  .formation {
    position: relative;
  }
  .education,
  .course {
    position: absolute;
    left: -60px !important;
  }
  .college,
  #typed-content span:last-child {
    font-size: 0.84rem !important;
  }
  .list-title {
    font-size: 1rem !important;
  }
  .list-description {
    font-size: 0.825rem !important;
    margin-bottom: 15px !important;
  }
  .tech-list li {
    font-size: 0.5rem !important;
    padding: 0.5rem 0.8rem !important;
  }

  .degree h3,
  .course-list h3 {
    font-size: 0.9rem !important;
  }
  /* .located,
  #typed-content span:last-child {
    font-size: 0.84rem !important;
  } */
  .period {
    font-size: 0.5rem !important;
  }
  .degree:last-child,
  .course-list:last-child {
    position: relative;
    top: 30px !important;
  }

  .container.social {
    position: relative;
    max-width: 55%;
  }
  .social-c {
    position: absolute;
    left: -28px !important;
  }

  footer p {
    font-size: 0.6rem;
  }
  .projects {
    gap: 2rem !important;
  }
}

@media (max-width: 340px) {
  .container {
    max-width: min-content;
  }
}

/* Section Informatio */
.information {
  margin: 0 auto;
  display: grid;
  grid-column: 1fr;
  grid-row: auto auto;
}

/*  **********/
/* Projects */
/* **************** */

.projects {
  position: relative;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  flex-direction: column;
  justify-content: space-between;
}

.project:nth-child(2) {
  position: relative;
  left: 1.1rem;
}

.project:last-child {
  justify-self: flex-end;
}

.section-title {
  grid-column: 1 / -1;
  display: flex;
  text-transform: uppercase;
  font-size: 2rem;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: var(--clr-section-title);
}

.section-title::before {
  content: "";
  display: block;
  width: 10px;
  height: 22px;
  background: var(--title-detail);
  border-radius: 5px;
}

.projects-c {
  display: flex;
  justify-content: space-between;
  padding: 0 1.3rem;
}

.list-title {
  margin-top: 0.5rem;
  font-size: 1.625rem;
  margin-bottom: 1.25rem;
  transition: all 0.3 ease-in;
}

.list-title a {
  color: var(--clr-section-subtitle);
}

.list-title a:hover {
  color: var(--clr-purple-light);
}

.list-description {
  font-size: 1.125rem;
  color: var(--text-primary);
  max-width: 37ch;
  margin-bottom: 1.25rem;
}

.tech-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px 15px;
}

.tech-list li {
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.8rem 1rem;
  color: var(--text-secondary);
  font-weight: 700;
  background: var(--clr-tech-item);
  border-radius: 10px;
  text-align: center;
}

.tech-list li:last-child {
  grid-column: 1 / -1;
  justify-self: flex-start;
  align-items: flex-start;
}

/* Formation */

.formation {
  position: relative;
  margin: 10rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  justify-content: space-between;
  align-items: flex-start;
}

.course {
  position: relative;
  justify-self: center;
  left: 1rem;
}

.content {
  position: relative;
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.content img {
  margin-right: 10px;
}

.degree:first-child,
.course:first-child {
  position: relative;
  top: -5px;
}

.degree:last-child,
.course:last-child {
  position: relative;
  top: 5px;
}

.degree h3,
.course h3 {
  font-size: 1.25rem;
  color: var(--clr-section-subtitle);
}

.degree-c span,
.course span {
  display: block;
}

.degree-c span:last-child,
.course span:last-child {
  margin-bottom: 5px;
}
.college {
  font-family: var(--ff-secondary);
  font-size: 1.3rem;
  color: var(--clr-text-college);
}

.period {
  font-size: 0.75rem;
  color: var(--clr-text-period);
  font-family: var(--ff-primary);
}

/* Social */

.social {
  position: relative;
  margin: 12rem auto;
}

.social-list {
  position: relative;
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  left: 10px;
}

/* Footer */

footer {
  text-align: center;
  color: #525050;
  margin-top: 3rem;
  max-width: 100vw;
}

footer p {
  margin-bottom: 1rem;
}

footer hr {
  max-width: 100vw;
  height: 10px;
  background: var(--footer-bar-bg);
  border: 0px;
}

@media (max-width: 1400px) {
  .logo {
    margin-left: 2rem;
  }
  .information {
    max-width: 90%;
  }
  .social {
    max-width: 90%;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 90%;
  }
  .projects {
    margin: 5rem auto;
    gap: 30px;
  }
  .project:last-child {
    justify-self: flex-start;
    position: relative;
    left: 15px;
  }
  .formation {
    margin: 5rem auto;
  }
  .course {
    position: relative;
    justify-self: flex-start;
    text-align: left;
    left: -1px;
    margin-top: 25px;
  }
  .social {
    position: relative;
    margin: 5rem auto;
  }
  .social-c {
    max-width: max-content;
    position: relative;
    left: 154px;
  }
}

@media (max-width: 1000px) {
  .information {
    position: relative;
    grid-template-columns: 500px;
    justify-content: center;
  }
  .projects {
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .project:last-child {
    position: relative;
    left: 1.2rem;
  }

  .formation {
    max-width: 100%;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .education {
    position: relative;
    left: -5.15rem;
  }
  .course {
    position: relative;
    left: -5.15rem;
  }

  .social {
    display: grid;
    justify-content: center;
  }

  .social div {
    position: relative;
    left: -2.4rem;
  }
}
